body{
  background-image: url("../images/webb.png");
  box-sizing: border-box;
  color: #777777;
}
/*navbar styling */
.navbar {
  /* margin: 0 auto 40px auto; */
  margin-bottom: 40px;
  border-bottom: 2px solid #cccccc;
  /* width: 960px; */

}

.navbar .navbar-brand{
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 13px;
  margin-left: 0;
  position: absolute;
  left: 0;
  top: 0;
 }
/*main content styling */
h1 {
  color: #4aaaa5;
}
#contact{

}

.container-fluid {
  width: 960px;
  margin-bottom: 50px;
  /* width: 70%; */
}
.bio{
  padding: 30px;
}



.profile {
  width: 100px;
  margin-right: 20px;
  float: left;
}

.placeholder {
  width: 250px;
  margin: 10px auto;
}
.project-title {
  position: absolute;
  top: 65%;



  /* display: inline-block; */
  background-color: #4aaaa5;
  color: #ffffff;
  width: 250px;



}



/* footer styling */
.footer-container {
  width: auto;
  max-width: 680px;
  font-size: 12px;

}

.footer {
  background-color: #666666;
  border-top: 5px solid #4aaaa5;
}
