body {
  font-family: 'Girassol', cursive;
  background-color: #e7d39f;
  color: #800020;
  text-align: center;
}

#title {
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: #800020;
  color: #e7d39f;
}
#title h1 {
  font-size: 75px
}
img {
  margin: 20px auto;
  width: 100%;
}

.invisible{
  display: none;
}

.game-window {
  margin-top: 20px;
  border: 2px solid #800020;
}
